#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseABTestingBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAdMobBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAuthBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashlyticsBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseDatabaseBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseDynamicLinksBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFirestoreBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFunctionsBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseGoogleSignInBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseInAppMessagingBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMLModelInterpreterBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMLVisionBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebasePerformanceBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseProtobufBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseRemoteConfigBinary.json"
#binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseStorageBinary.json"